/* HTML: <div class="loader"></div> */
.loader {
  width: var(--loader-size, 50px);
  padding: calc(var(--loader-size, 50px) / 6.25);
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--loader-color, #25b09b);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}